.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}
.palette {
  width: 100%;
  display: flex;
  flex-wrap: wrap
}
.color,
.color-reset {
  height: 30px;
  width: 10%;
}